.banner {
  background-image: asset-url('banner_mamieexpress.png');
  background-size: cover;
  height: 380px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.container-text-content {
  height: 28vh;
  align-content: flex-start;
  display: flex;
  justify-content: space-evenly;

  h3 {
    font-size: 22px;
    font-weight: bold;
  }

  p {
    font-size: 12px;
  }

  .text-content {
    width: 400px;
  }
}
