
.cards {
  padding: 20px 20px 20px 20px;
  width: 800px;
  margin: 0 auto;

  .card {
  // background-color: white;
  padding: 30px 30px 30px 30px;
  box-shadow: 3px 3px 7px rgb(210, 210, 210);
  border-radius: 20px;
  margin-bottom: 20px;

  h3 {
    font-size: 18px;
  }

  .card-departure-date {
    font-size: 20px;
    font-weight: bold;
  }

  .complement-address {
    margin-left: 121px;
    font-size: 13px;
  }

  .region {
    font-size: 15px;
    font-weight: bold;
  }

  .card-title {
    display: flex;
    border-bottom: 1px solid rgb(200, 200, 200);
    padding-bottom: 5px;
    justify-content: space-between;
    align-items: center;

  }
  .card-departure {
    display: flex;
    align-items: baseline;
    position: relative;
    // margin-bottom: 20px;
    margin-left: 30px;
  }

  .card-part-up {
    display: flex;
    justify-content: space-between;
    height: 22px;
    margin-top: 8px;
  }

    .trait-trajet{
      width: 60px;
      position: absolute;
      left: 41px;
      top: -6px;
    }

    .text-departure-location {
      font-size: 18px;
      margin-left: 45px;
      font-weight: bold;
    }

    .text-arrival-location {
      font-size: 18px;
      font-weight: bold;
      margin-left: 124px;
      margin-bottom: 0px;
    }

    p {
      font-size: 16px;
    }


    .card-passenger-number {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      margin-left: 30px;
      font-size: 12px;
    }

    .seat-belt {
      height: 30px;
      margin-left: 7px;
    }

    .card-links i {
      color: rgb(100, 100, 100);
      font-size: 18px;
      margin-left: 10px;
      opacity: 0.6;
    }

    .card-links i:hover {
      opacity: 1;
    }

    .card-button {
      display: flex;
    }

    .fa-edit {
      color: rgb(100, 100, 100);
      font-size: 16px;
      margin-right: 5px;
    }
  }
}
