
.cards {
  padding: 20px;
  width: 800px;
  margin: 0 auto;

  .card {
  // background-color: white;
  padding: 30px 30px 10px 30px;
  border: 1px solid rgb(200, 200, 200);
  box-shadow: 3px 3px 7px rgb(210, 210, 210);
  border-radius: 20px;
  margin-bottom: 20px;

  h3 {
    font-size: 18px;
  }

  .card-departure-date {
    border-bottom: solid 1px rgb(180, 180, 180);
    padding-bottom: 12px;
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: bold;
  }

  .card-departure {
    display: flex;
    align-items: baseline;
    position: relative;
    margin-bottom: 20px;
    margin-left: 30px;
  }

  .card-part-up {
    display: flex;
    justify-content: space-between;
  }

    .trait-trajet{
      width: 60px;
      position: absolute;
      left: 41px;
      top: -6px;
    }

    .text-departure-location {
      font-size: 18px;
      margin-left: 45px;
    }

    .text-arrival-location {
      font-size: 18px;
      margin-left: 133px;
    }

    p {
      font-size: 16px;
    }


    .card-passenger-number {
      display: flex;
      margin-top: 10px;
      margin-left: 30px;
      font-size: 12px;
    }

    .seat-belt {
      height: 30px;
      margin-left: 7px;
    }

    .card-links {
      color: rgb(100, 100, 100);
      font-size: 16px;
      margin-left: 10px;
    }

    .fa-edit {
      color: rgb(100, 100, 100);
      font-size: 16px;
      margin-right: 5px;
    }
  }
}
