// Import page-specific CSS files here.
@import "show";

.container {
  margin: 0 auto;
  height: 80vh;
  position: relative;
  // background-color: black;
  // background-image: url("../../images/Logo_mamieExpress_cut.png");
  // background-size: cover;
  h1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 0px;
    margin-bottom: 30px;
  }
}
