// Import page-specific CSS files here.
@import "show";

.container {
  margin: 0 auto;
  height: 80vh;
  position: relative;

  h1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 0px;
    margin-bottom: 30px;
  }

 .card-links i {
  color: #737373;
  opacity: 0.6;
}

.card-links i:hover {
  color: #737373;
  opacity: 1;
}

.status {
  display: none
}
}
